= form_for @admin_project do |f|
  - if @admin_project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_project.errors.count, "error")} prohibited this admin_project from being saved:"
      %ul
        - @admin_project.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
