- content_for :content_header do
  .d-sm-flex.justify-content-between.mb-4
    .col-sm-6
      %h1.h3.mb-0.text-gray-800 Dự án
- content_for :content_body do
  .row
    .col
      .card
        .card-body
          %form.mr-auto.my-2.my-md-0.mw-100.navbar-search
            .input-group
              = form_with url: admin_projects_path, method: :get, local: true, class: 'input-group search-group' do |f|
                = f.text_field :query, value: params[:query], id: 'customer-search', class: 'form-control bg-light border-0 small', type: 'search', placeholder: 'Tìm kiếm...'
                .input-group-append1
                  %button.btn.btn-primary{type: 'submit', style: 'height: 38px !important'}
                    %i.fa.fa-search.fa-sm
  .card
    .card-body
      .table-responsive.p-0
        %table.table.text-nowrap.table-hover
          %thead
            %tr
              %th.first-col-stick Hình ảnh
              -#%th.second-col-stick Mã dự án
              %th.second-col-stick Tên dự án
              %th Loại hình
              %th Vị trí
              %th Giá từ
              %th Giá đến
              %th Diện tích nhỏ nhất
              %th Diện tích lớn nhất
              %th Số hàng còn
              %th.last-col-stick
          %tbody
            - @projects.each do |project|
              %tr
                %td.align-middle.first-col-stick= image_tag(project.images.first.url, class: 'img-thumbnail', style: 'width: 100px') if project.images.first.present?
                -#%td.align-middle.second-col-stick= "DA-#{project.id}"
                %td.align-middle.second-col-stick= project.name
                %td.align-middle= project.real_estate_type_name.join(', ')
                %td.align-middle= project.region&.city&.name
                %td.align-middle= currency(project.min_price)
                %td.align-middle= currency(project.max_price)
                %td.align-middle= acreage(project.min_acreage)
                %td.align-middle= acreage(project.max_acreage)
                %td.align-middle= ''
                %td.align-middle.text-right.last-col-stick
                  %a.btn.btn-outline-primary.btn-edit{href: edit_admin_project_path(project)}
                    %i.fas.fa-pencil-alt
                  -#- if policy(project).destroy?
                  %a.btn.btn-outline-primary{href: admin_project_path(project.id), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                    %i.fas.fa-trash
            .row
              .col-6
                = render partial: 'shared/pagination', locals: { pagy: @pagy }
              .col-6
                %a.btn.btn-gp-import
                  %i.fas.fa-upload.mr-2
                  Import

- content_for :content_footer do
  %footer.main-footer.main-footer-fixed
    .row
      .col-12
        = link_to 'Tạo mới', new_admin_project_path, class: 'btn btn-primary'
