#page-top {
  background-color: #f8f9fc;
}

.btn-gp-import {
  color: white;
  background-color: #FC6103;
  float: right !important;
  width: 24%;
}

.btn-gp-import:hover {
  color: white;
  background-color: #EA5F02;
  border-color: #EA5F02;
}

.button-save {
  width: 260px;
  height: 38px;
  color: white;
}

.nav-link-item {
  display: block;
  width: 100%;
  text-align: left;
}

.sidebar-divider-item {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin: 0 1rem 0.5rem;
}

body:not(.sidebar-toggled) {
  #content-wrapper {
    margin-left: 224px;
  }
}

#content-wrapper {
  margin-left: 104px;
}

.table-hover tbody tr {
  cursor: pointer;
}

.login-page {
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.z9999 {
  z-index: 9999;
}

.select2-container--bootstrap .select2-selection--single {
  height: 38px !important;
  padding-top: 7px !important;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
  background-color: #728aed;
}

.header-back {
  font-size: 20px;
}

.flash-notice {
  background: honeydew;
  border-color: #e3e6f0;
  .icon-successful {
    color: #1cc88a;
  }
}

.flash-alert {
  background: lavenderblush;
  border-color: #e3e6f0;
  .icon-error {
    color: #dc3545;
  }
}

.custom-validation {
  font-size: 90%;
  display: block;
}

/* Custom datepicker */
.ui-widget.ui-widget-content {
    border-color: #66afe9;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.ui-datepicker {
  width: 20em;
  padding: 10px 15px;
  .ui-widget-header {
    border: none;
    background: none;
    .ui-icon {
      background: none;
    }
  }
  .ui-datepicker-prev, .ui-datepicker-next {
    border: 1px solid #2E384D;
    cursor: pointer;
  }
  .ui-datepicker-prev span, .ui-datepicker-next span {
    border-color: inherit !important;
    width: 6px;
    height: 6px;
    border-width: 1.5px 1.5px 0 0;
    border-style: solid;
    color: #2E384D;
    top: 18px;
    position: absolute;
  }
  .ui-datepicker-prev span {
    left: 20px;
    transform: rotate(225deg);
  }
  .ui-datepicker-next span {
    left: 16px;
    transform: rotate(45deg);
  }
  .ui-state-hover {
    border: 1px solid #2E384D;
    background: none;
    color: #2E384D;
  }
  .ui-datepicker-prev-hover span, .ui-datepicker-next-hover span {
    border-color: #3F3356 !important;
  }
  table.ui-datepicker-calendar {
    thead {
      border-bottom: 1px dashed #ECEBED;
      th {
        padding-bottom: 3px;
      }
    }
    tbody:before {
      content: ".";
      display: block;
      line-height: 10px;
      text-indent: -99999px;
    }
    td span, td a {
      padding: 0.8em;
      text-align: center;
    }
    .ui-state-default {
      border: none;
      background: none;
      font-weight: bold;
      color: #4e73df;
    }
    .ui-state-active {
      background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
      border-radius: 50%;
      line-height: 14px;
      color: #FFFFFF;
    }
    .ui-state-highlight {
      border: 1px solid rgba(12, 119, 198, 0.1);
      background-color: rgba(12, 119, 198, 0.1);
      border-radius: 50%;
      line-height: 14px;
      color: #0C77C6
    }
    .ui-datepicker-week-end a {
      color: #e74a3b;
    }
  }
}

/* Custom footer */
.main-footer {
  background: #fff;
  border-top: 1px solid #dee2e6;
  color: #869099;
  padding: 1rem
}

.main-footer-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  width: calc(100%);
  background-color: white;
  z-index: 10;

  .btn {
    float: right !important;
    margin-right: 18px;
    width: 15%;
  }
}
